/* REMOVE DEFAULT BUTTON*/
    button {
        background: transparent;
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        text-shadow: 0px 0px 0px transparent;
    }
    
    button:hover {
        background: transparent;
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        text-shadow: 0px 0px 0px transparent;
    }
    
    button:active {
        outline: none;
        border: none;
    }
    
    button:focus {
    outline: 0;
    background: transparent;
}

:focus {outline:none;}
/*REMOVE DEFAULT END*/

body{
    background-color: teal;
}

footer{
    border-top: solid black 2px;
    background-color: white;
    padding: 10px;
    text-align: center;
}

h1{
    border-bottom: solid black 5px;
    margin: 0;
    padding-top: 60px;
    background-color: white;
}
/*===============================================================================================================*/


.container{
    margin-top: 40px;
    margin-bottom: 40px;
}


