/* REMOVE DEFAULT BUTTON*/
    button {
        background: transparent;
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        text-shadow: 0px 0px 0px transparent;
    }
    
    button:hover {
        background: transparent;
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        text-shadow: 0px 0px 0px transparent;
    }
    
    button:active {
        outline: none;
        border: none;
    }
    
    button:focus {
    outline: 0;
    background: transparent;
}

:focus {outline:none;}
/*REMOVE DEFAULT END*/

body{
    background-color: teal;
}

h1{
    border-bottom: solid black 5px;
    margin: 0;
    padding-top: 60px;
    background-color: white;
}
/*===============================================================================================================
/*MAIN GRID*/

    .container{
        margin-top: 40px;
    }

    .grid{
        display: grid;
        grid-gap: 5px;
        background-color: lightgray;
        padding: 10px;
        border-radius: 20px;
        border: black solid 2px;
    }
    
    .element{
        overflow: hidden;
        border-radius: 5px;
        background-color: white;
        border: white solid 1px;
        position: relative;
        z-index: 1;
        text-align: center;
        padding: 5px;
        margin-bottom: 5px;
    }
    .grid > div > .element:before{
        content: "";
        display: block;
        padding-bottom: 100%;
        max-width: 100px;
        min-width: 50px;
        max-height: 100px;
        font-size: 30px;
        box-sizing: border-box;
    }

    .element:hover{
        box-shadow: inset darkgray 0 0 5px;
    }
    .element:focus{
        box-shadow: inset rgba(55, 88, 177, 0.74) 0 0 5px;
    }
    .element:hover .moveButton{
        display: block;
    }
    .element > .moveButton{
        display: none;
        box-sizing: border-box;
        position: absolute;
        background-color: darkslategray;
        height: 15px;
        border-radius: 7px;
        width: 15px;
        z-index: 3;
    }
    .element > .moveButton.up{
        left: 50%;
        transform: translate(-50%, 0);
        top: 1%;
    }
    .element > .moveButton.right{
        top: 50%;
        transform: translate(0, -50%);
        right: 1%;
    }
    .element > .moveButton.down{
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 1%;
    }
    .element > .moveButton.left{
        top: 50%;
        transform: translate(0, -50%);
        left: 1%;
    }
    .element > .moveButton:hover{
        background-color: lightblue;
    }

    .element > .display{
        font-size: 200%;
        height: 56px;
        width: 56px;
        background-color: lightgray;
        border-radius: 28px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -104%);
        z-index: 2;
    }
/* =============================================================================================================
MAIN GRID END*/


/*=================================================================================================================
TOOLBAR*/
    .toolbar{
        display: flex;
        margin-bottom: 0;
        flex-wrap: wrap;
    }
    .toolbar > .button{
        flex: 1;
        display: block;
        box-sizing: border-box;
        padding: 0px 0px 0px 0px;
        background-color: rgb(151, 151, 151);
        margin: 0px 20px;
        border:black solid 2px;
        border-bottom: none;
        border-radius: 10px 10px 0px 0px;
    }

    .toolbar > .button:hover{
        background-color:  rgba(100,100,100,1);
    }

    .toolbar .button.selected{
        background-color:black;
        color: white;
}

/* ================================================================
DROPDOWN MENU*/
        .menu{
            position: relative;
            display: inline-block;
            min-width: 50px;
        }
        .dropdown {
            box-sizing: border-box;
            display: none;
            position: absolute;
            background-color: rgb(218, 218, 218);
            border: solid black 2px;
            border-radius: 0px 0px 10px 0px;
            z-index: 10;
        }

        .dropdown li:hover{
            background-color: rgb(196, 196, 196); ;
        }

        .menu:hover .dropdown{
            display: block;
            border-bottom: black solid 1px;
            overflow: hidden;
        }

/* DROPDOWN END 
==============================================================================================================
    TOOLBAR END*/


/* ===========================================================================================================
TURN ORDER LIST*/

    .initiative{
        margin-top: 50px;
        display: block;
        float: left;
        position: sticky;
        left: 0;
        top: 5%;
        z-index: 5;
        box-sizing: border-box;
        max-width: 300px;
        width: 12%;
        min-height: 200px;
        background-color: lightgray;
        border: solid black 2px;
        border-left: none;
        border-radius: 0px 15px 15px 0px;

    }

    #newEntity{
        text-align: center;
        width: 80%;
        background-color: white;
        border-radius: 5px;
    }
    #init{
        text-align: center;
        width: 80%;
        min-width: 30px;
        background-color: white;
        border-radius: 5px;
    }
    .list-item{
        display:block;
        box-sizing: border-box;
        margin-left: 20px;
        width: 80%;
        margin-bottom: 5px;
        text-align: center;
        background-color: white;
        border-radius: 5px;
    }

/*MAP SAVE LIST*/

    .maplist{
        display: none; /* <-----------REMOVE THIS !!!!!!!!!!!!!! -------->*/
        float: right;
        box-sizing: border-box;
        width: 12%;
        min-height: 200px;
        background-color: lightgray;
        border: solid black 2px;
        border-right: none;
        border-radius:  15px 0px 0px 15px;
    }